<ng-container *ngIf="(users$ | async)?.length; else loading">
  <div class="selected-user" *ngIf="selectedUser$ | async as selectedUser">
    <div>User:</div>
    <div>id: {{ selectedUser.id }}</div>
    <div>name: {{ selectedUser.name }}</div>
    <div>username: {{ selectedUser.username }}</div>
    <div>email: {{ selectedUser.email }}</div>
    <br />

    <!-- <div>Selected User:</div>
    <div>Id: {{ selectedUser.user.id }}</div>
    <div>title: {{ selectedUser.user.title }}</div>
    <div>completed: {{ selectedUser.user.completed }}</div> -->
  </div>

  <ul *ngIf="users$ | async as users">
    <li
      *ngFor="let user of users"
      (click)="handleClick(user.id)"
      class="user-item"
    >
      {{ user.name }} ({{ user.username }})
    </li>
  </ul>
</ng-container>

<ng-template #loading>loading...</ng-template>
