<ng-container *ngIf="(todos$ | async)?.length; else loading">
  <div class="selected-todo" *ngIf="selectedTodo$ | async as selectedTodo">
    <div>Selected Todo:</div>
    <div>Id: {{ selectedTodo.id }}</div>
    <div>title: {{ selectedTodo.title }}</div>
    <div>completed: {{ selectedTodo.completed }}</div>
  </div>

  <ul *ngIf="todos$ | async as todos">
    <li
      *ngFor="let todo of todos"
      (click)="handleClick(todo.id)"
      class="todo-item"
    >
      {{ todo?.title }}
    </li>
  </ul>
</ng-container>

<ng-template #loading>loading...</ng-template>
