<ng-container *ngIf="(todos$ | async)?.length; else loading">
  <div class="selected-todo" *ngIf="selectedTodo$ | async as selectedTodo">
    <div>Selected Todo:</div>
    <div>Id: {{ selectedTodo.todo.id }}</div>
    <div>title: {{ selectedTodo.todo.title }}</div>
    <div>completed: {{ selectedTodo.todo.completed }}</div>
    <br />
    <div>User:</div>
    <div>id: {{ selectedTodo.user.id }}</div>
    <div>name: {{ selectedTodo.user.name }}</div>
    <div>username: {{ selectedTodo.user.username }}</div>
    <div>email: {{ selectedTodo.user.email }}</div>
  </div>

  <ul *ngIf="todos$ | async as todos">
    <li
      *ngFor="let todo of todos"
      (click)="handleClick(todo.id)"
      class="todo-item"
    >
      {{ todo?.title }}
    </li>
  </ul>
</ng-container>

<ng-template #loading>loading...</ng-template>
